body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

div.container, #canvas{
	position: fixed;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}

/* svg{display: none;} */

@media all and (min-aspect-ratio : 5754/3840) {
	#back,
	#front{
		width: 100vw;
		object-fit: cover;
	}
}

@media all and (max-aspect-ratio : 5754/3840) {
	#back,
	#front,
	#canvas {
		height: 100vh;
		object-fit: cover;
	}
}